{% extends template %}

{% block content %}
    <section class="s-content s-content--top-padding s-content--narrow">
        <div class="row entries-wrap wide">
            <div class="col-md-12">
                <p>{{ error }}</p>
            </div>
        </div>
    </section>
{% endblock %}